In [1]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql
from sqlalchemy import create_engine
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score, GridSearchCV, cross_validate, train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.decomposition import PCA
from IPython.display import display


from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from math import sqrt

In [2]:
url = 'postgresql://{user}:{passwd}@{host}:{port}/{db}'.format(
         user="cse6242", passwd="cse6242", host="localhost", port=5432, db="cse6242")

engine = create_engine(url, pool_size=50)

engine.connect()
connection = engine.connect() 
query = "SELECT county_id, home_type_id, year_month, index_value from county_timeseries"

df = pd.read_sql(query, con=connection)

df.rename(columns = {'year_month':'year'}, inplace = True)
df[['year','month']] = df['year'].str.split('-',expand=True)

cols = df.columns.tolist() 
new_cols = [x for x in cols if x != cols[-2]] + [cols[-2]]
df = df[new_cols]
df.fillna(method="ffill", inplace=True)
df.fillna(method="bfill", inplace=True)
random_state = 100
X_DATA = x_data = df.loc[:, df.columns != "index_value"]
Y_DATA = y_data = Y_TRAIN_ALL_VALS = df.loc[:, "index_value"]

# x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.25, shuffle=True, random_state=random_state)

# _, _, Y_TRAIN_ALL_VALS, _ = train_test_split(x_data, y_data, test_size=0.1, shuffle=True, random_state=random_state)

In [3]:
Y_TRAIN_ALL_VALS

0          117500.0
1          117200.0
2          116500.0
3          115500.0
4          114600.0
             ...
2327623    121100.0
2327624    120700.0
2327625    120000.0
2327626    119200.0
2327627    118300.0
Name: index_value, Length: 2327628, dtype: float64

In [4]:
# clf.predict(X_TEST[-5:])

In [5]:
url = 'postgresql://{user}:{passwd}@{host}:{port}/{db}'.format(
         user="cse6242", passwd="cse6242", host="localhost", port=5432, db="cse6242")

engine = create_engine(url, pool_size=50)

engine.connect()
connection = engine.connect() 
query = "SELECT county_id, home_type_id, year_month, index_value from county_timeseries LIMIT 300000"

In [6]:
test_x_df, test_y_df = pd.DataFrame(), pd.DataFrame()
train_x_df, train_y_df = pd.DataFrame(), pd.DataFrame()
clf= MLPClassifier(hidden_layer_sizes=(10,), activation='logistic',
                       solver='adam',verbose= True)

In [7]:
for df in pd.read_sql(query, con=connection, chunksize=1000):
    df.rename(columns = {'year_month':'year'}, inplace = True)
    df[['year','month']] = df['year'].str.split('-',expand=True)
    
    cols = df.columns.tolist() 
    new_cols = [x for x in cols if x != cols[-2]] + [cols[-2]]
    df = df[new_cols]
    df.fillna(method="ffill", inplace=True)
    df.fillna(method="bfill", inplace=True)
    random_state = 100
    x_data = df.loc[:, df.columns != "index_value"]
    y_data = df.loc[:, "index_value"]
    x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.25, shuffle=True, random_state=random_state)
#     clf = MLPClassifier(solver='stochastic', alpha=1e-5,
#                    hidden_layer_sizes=(6, 6), random_state=1, verbose=True)
    train_x_df.append(x_train)
    train_y_df.append(y_train)
    test_x_df.append(x_test)
    test_y_df.append(y_test)
    
    clf = clf.partial_fit(x_train, y_train,classes=np.unique(Y_TRAIN_ALL_VALS))

Iteration 1, loss = 9.62393330
Iteration 2, loss = 9.60460938
Iteration 3, loss = 9.58499158
Iteration 4, loss = 9.57117703
Iteration 5, loss = 9.57935614
Iteration 6, loss = 9.51268845
Iteration 7, loss = 9.48206366
Iteration 8, loss = 9.45424453
Iteration 9, loss = 9.48140353
Iteration 10, loss = 9.58827829
Iteration 11, loss = 9.40167785
Iteration 12, loss = 9.37352939
Iteration 13, loss = 9.31125133
Iteration 14, loss = 9.44361280
Iteration 15, loss = 9.28719759
Iteration 16, loss = 9.22776048
Iteration 17, loss = 9.17036088
Iteration 18, loss = 9.39901996
Iteration 19, loss = 9.27977224
Iteration 20, loss = 9.27296997
Iteration 21, loss = 9.19350830
Iteration 22, loss = 9.03619367
Iteration 23, loss = 9.07205255
Iteration 24, loss = 8.96577002
Iteration 25, loss = 9.35300115
Iteration 26, loss = 9.10718501
Iteration 27, loss = 9.07500451
Iteration 28, loss = 9.11016677
Iteration 29, loss = 9.25978968
Iteration 30, loss = 9.02967407
Iteration 31, loss = 8.91827974
Iteration 32, loss = 8.81433993
Iteration 33, loss = 8.83233128
Iteration 34, loss = 8.74446469
Iteration 35, loss = 8.87313952
Iteration 36, loss = 8.86236570
Iteration 37, loss = 8.96426559
Iteration 38, loss = 8.88906218
Iteration 39, loss = 8.81095611
Iteration 40, loss = 8.69482195
Iteration 41, loss = 8.64414235
Iteration 42, loss = 8.77028359
Iteration 43, loss = 8.48284824
Iteration 44, loss = 8.44368955
Iteration 45, loss = 8.55324500
Iteration 46, loss = 8.53195078
Iteration 47, loss = 8.47941875
Iteration 48, loss = 8.74512413
Iteration 49, loss = 8.44065183
Iteration 50, loss = 8.40063417
Iteration 51, loss = 8.54676809
Iteration 52, loss = 8.64771366
Iteration 53, loss = 8.80606846
Iteration 54, loss = 8.51898532
Iteration 55, loss = 8.33006562
Iteration 56, loss = 8.49272109
Iteration 57, loss = 8.77813163
Iteration 58, loss = 8.31443185
Iteration 59, loss = 8.72489197
Iteration 60, loss = 8.51201084
Iteration 61, loss = 8.25506730
Iteration 62, loss = 8.21248108
Iteration 63, loss = 8.42625113
Iteration 64, loss = 8.68551409
Iteration 65, loss = 8.29561975
Iteration 66, loss = 8.19515194
Iteration 67, loss = 8.14141310
Iteration 68, loss = 8.41149510
Iteration 69, loss = 8.06783909
Iteration 70, loss = 9.13920215
Iteration 71, loss = 8.37667587
Iteration 72, loss = 8.15238140
Iteration 73, loss = 8.32138451
Iteration 74, loss = 8.48582178
Iteration 75, loss = 8.18206863
Iteration 76, loss = 8.48417888
Iteration 77, loss = 8.61747268
Iteration 78, loss = 8.38173401
Iteration 79, loss = 7.91377705
Iteration 80, loss = 8.29895934
Iteration 81, loss = 7.91905368
Iteration 82, loss = 8.54952659
Iteration 83, loss = 7.87572692
Iteration 84, loss = 8.17122984
Iteration 85, loss = 7.76907076
Iteration 86, loss = 8.20054391
Iteration 87, loss = 8.24633264
Iteration 88, loss = 7.87069081
Iteration 89, loss = 8.34693985
Iteration 90, loss = 8.11304812
Iteration 91, loss = 8.33410294
Iteration 92, loss = 8.25999599
Iteration 93, loss = 7.87836757
Iteration 94, loss = 7.98969044
Iteration 95, loss = 8.12333498
Iteration 96, loss = 8.15046235
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 97, loss = 8.09358938
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 98, loss = 7.66406902
Iteration 99, loss = 8.15246545
Iteration 100, loss = 8.06405311
Iteration 101, loss = 7.63790601
Iteration 102, loss = 7.85169579
Iteration 103, loss = 7.86063139
Iteration 104, loss = 7.73086792
Iteration 105, loss = 8.47273464
Iteration 106, loss = 8.67457882
Iteration 107, loss = 7.67337152
Iteration 108, loss = 7.73351294
Iteration 109, loss = 8.20682455
Iteration 110, loss = 7.96096465
Iteration 111, loss = 8.17473427
Iteration 112, loss = 8.14165532
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 113, loss = 8.80039215
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 114, loss = 7.60997507
Iteration 115, loss = 7.56618313
Iteration 116, loss = 7.52672239
Iteration 117, loss = 7.83467091
Iteration 118, loss = 8.54786449
Iteration 119, loss = 7.55814494
Iteration 120, loss = 8.96830084
Iteration 121, loss = 7.83985717
Iteration 122, loss = 7.99685785
Iteration 123, loss = 7.38710955
Iteration 124, loss = 8.46274646
Iteration 125, loss = 7.47801708
Iteration 126, loss = 7.91488582
Iteration 127, loss = 8.30832156
Iteration 128, loss = 8.16593446
Iteration 129, loss = 8.40075305
Iteration 130, loss = 7.68813001
Iteration 131, loss = 7.58200869
Iteration 132, loss = 7.36954733
Iteration 133, loss = 7.63461676
Iteration 134, loss = 8.07892773
Iteration 135, loss = 8.09066497
Iteration 136, loss = 8.35041750
Iteration 137, loss = 7.74780056
Iteration 138, loss = 8.07338911
Iteration 139, loss = 7.92314387
Iteration 140, loss = 7.77388038
Iteration 141, loss = 7.60641174
Iteration 142, loss = 7.33649288
Iteration 143, loss = 7.47907743
Iteration 144, loss = 7.61858266
Iteration 145, loss = 7.23310138
Iteration 146, loss = 7.79205834
Iteration 147, loss = 7.63676992
Iteration 148, loss = 7.62660076
Iteration 149, loss = 7.50492889
Iteration 150, loss = 7.65775661
Iteration 151, loss = 8.52944773
Iteration 152, loss = 7.61421757
Iteration 153, loss = 7.87760030
Iteration 154, loss = 8.19143707
Iteration 155, loss = 7.35957105
Iteration 156, loss = 7.61689022
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 157, loss = 7.47386983
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 158, loss = 7.71066987
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 159, loss = 7.38828697
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 160, loss = 7.45254817
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 161, loss = 7.00847834
Iteration 162, loss = 7.52257244
Iteration 163, loss = 7.45833759
Iteration 164, loss = 7.53297904
Iteration 165, loss = 8.20015197
Iteration 166, loss = 8.63147234
Iteration 167, loss = 9.31550503
Iteration 168, loss = 8.88674194
Iteration 169, loss = 8.71062273
Iteration 170, loss = 8.73294982
Iteration 171, loss = 9.45211668
Iteration 172, loss = 8.86503911
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 173, loss = 8.45019551
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 174, loss = 8.38309736
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 175, loss = 8.73385391
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 176, loss = 8.45392542
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 177, loss = 8.69135065
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 178, loss = 8.44338301
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 179, loss = 8.47967753
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 180, loss = 8.37652442
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 181, loss = 8.21288302
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 182, loss = 8.65892380
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 183, loss = 8.75859957
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 184, loss = 8.36788093
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 185, loss = 8.60884000
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 186, loss = 8.71869138
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 187, loss = 8.76266707
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

Iteration 188, loss = 8.22890725
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 189, loss = 8.64585369
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 190, loss = 8.64675178
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 191, loss = 8.33350424
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 192, loss = 8.21661632
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 193, loss = 8.54515448
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 194, loss = 8.19829670
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 195, loss = 8.05982035
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 196, loss = 8.36738293
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 197, loss = 8.15090512
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 198, loss = 8.17505562
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 199, loss = 8.42367475
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 200, loss = 8.26601753
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 201, loss = 8.42187493
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 202, loss = 8.44422464
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 203, loss = 7.98811072
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 204, loss = 7.94930244
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 205, loss = 8.14671589
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 206, loss = 7.89607321
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 207, loss = 8.66229779
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 208, loss = 8.74271815
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 209, loss = 8.14297345
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 210, loss = 8.10090718
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 211, loss = 7.91920034
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 212, loss = 8.01881720
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 213, loss = 8.05295554
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 214, loss = 8.58153939
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 215, loss = 7.95157115
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 216, loss = 8.31559087
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 217, loss = 7.93701576
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 218, loss = 8.35561608
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 219, loss = 8.11974878
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 220, loss = 8.16485291
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 221, loss = 8.07267910
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 222, loss = 8.03246526
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 223, loss = 8.07777696
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 224, loss = 7.80337407
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 225, loss = 7.79038091
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 226, loss = 8.23660657
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 227, loss = 7.72458213
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 228, loss = 8.36268256
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 229, loss = 8.60969929
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 230, loss = 8.10389786
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 231, loss = 7.91123720
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 232, loss = 7.73927308
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 233, loss = 7.83705383
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 234, loss = 7.74383207
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 235, loss = 8.24968704
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 236, loss = 7.84778846
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 237, loss = 8.31596935
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 238, loss = 7.82005286
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 239, loss = 7.51704831
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 240, loss = 8.02087434
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 241, loss = 7.61050891
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 242, loss = 7.82696811
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 243, loss = 8.66147868
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 244, loss = 8.04497374
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 245, loss = 7.92681197
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 246, loss = 7.71250884
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 247, loss = 7.58530888
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 248, loss = 7.57594133
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 249, loss = 7.93561893
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 250, loss = 7.62603863
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 251, loss = 7.66648558
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 252, loss = 7.77930387
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 253, loss = 7.49430072
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 254, loss = 7.70774070
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

Iteration 255, loss = 7.68700389
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 256, loss = 8.11505413
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 257, loss = 7.57089467
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 258, loss = 7.47851072
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 259, loss = 7.70648792
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 260, loss = 7.55161470
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 261, loss = 7.79644606
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 262, loss = 7.79784640
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 263, loss = 7.42476676
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 264, loss = 7.61295955
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 265, loss = 8.41827744
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 266, loss = 7.53711802
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 267, loss = 7.72471250
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 268, loss = 8.18916107
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 269, loss = 7.48177870
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 270, loss = 7.41819731
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 271, loss = 7.42228093
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 272, loss = 7.70617390
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 273, loss = 7.47125162
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 274, loss = 7.57248334
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 275, loss = 7.53836086
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 276, loss = 7.70503683
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 277, loss = 7.58794460
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 278, loss = 7.37064323
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 279, loss = 7.50973168
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 280, loss = 7.43881409
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 281, loss = 7.37748186
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 282, loss = 8.04367070
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 283, loss = 8.36070127
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 284, loss = 7.96950493
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 285, loss = 7.94871015
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 286, loss = 7.79524009
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 287, loss = 8.05287361
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 288, loss = 7.57194114
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 289, loss = 7.55057412
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 290, loss = 7.46897385
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 291, loss = 8.23213299
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 292, loss = 7.60462947
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 293, loss = 8.59124265
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 294, loss = 7.33851149
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 295, loss = 8.12214994
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 296, loss = 7.56026933
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 297, loss = 7.70233904
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 298, loss = 7.56127404
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 299, loss = 7.93342508
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 300, loss = 8.65266528
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [8]:
X_DATA.size, Y_DATA.size

(9310512, 2327628)

In [9]:
# y_pred = clf.predict(x_train)
#     print "Score on training set: %0.8f" % clf.score(train_input, train_target)
#Testing the Neural Net

# _, _, Y_TRAIN_ALL_VALS, _ = train_test_split(x_data, y_data, test_size=0.1, shuffle=True, random_state=random_state)
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.25, shuffle=True, random_state=random_state)

y_pred_train = clf.predict(x_train)
# print(x_train)
# print(y_pred)
# print(y_train)
y_hats_df = pd.DataFrame(data = y_pred_train, columns = ['y_pred'], index = x_train.index.copy())
df_out_mlp_train = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(df_out_mlp_train)
# 4. Compute score on testing set
# print(clf.score(X_TEST, Y_TRAIN_ALL_VALS))

     county_id  home_type_id  year month  index_value   y_pred
0          476             1  2017    08       319700  87300.0
1          476             1  2017    09       322300  87300.0
2          476             1  2017    10       327800  87300.0
3          476             1  2017    11       330300  87300.0
4          476             1  2017    12       334000  87300.0
..         ...           ...   ...   ...          ...      ...
995        480             1  2006    07        62800      NaN
996        480             1  2006    08        62400      NaN
997        480             1  2006    09        62300      NaN
998        480             1  2006    10        62300  87300.0
999        480             1  2006    11        62400  87300.0

[1000 rows x 6 columns]

In [10]:
y_pred_test = clf.predict(x_test)

In [11]:
y_hats_df = pd.DataFrame(data = y_pred_test, columns = ['y_pred'], index = x_test.index.copy())
df_out_mlp_test = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

In [12]:
final_df_out = df_out_mlp_train['y_pred'].combine_first(df_out_mlp_test['y_pred'])

# display(final_df_out)
# 

y_hats_df = pd.DataFrame(data = final_df_out, columns = ['y_pred'], index = df.index.copy())
# display(y_hats_df)
final_df_out = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(final_df_out)

     county_id  home_type_id  year month  index_value   y_pred
0          476             1  2017    08       319700  87300.0
1          476             1  2017    09       322300  87300.0
2          476             1  2017    10       327800  87300.0
3          476             1  2017    11       330300  87300.0
4          476             1  2017    12       334000  87300.0
..         ...           ...   ...   ...          ...      ...
995        480             1  2006    07        62800  87300.0
996        480             1  2006    08        62400      NaN
997        480             1  2006    09        62300  87300.0
998        480             1  2006    10        62300  87300.0
999        480             1  2006    11        62400  87300.0

[1000 rows x 6 columns]

In [13]:
sqrt(mean_squared_error(y_train, y_pred_train))

163013.58604384927

In [14]:
sqrt(mean_squared_error(y_test, y_pred_test))

155651.48945709696

In [ ]:
x_data

In [ ]:
df.rename(columns = {'year_month':'year'}, inplace = True)
df[['year','month']] = df['year'].str.split('-',expand=True)

cols = df.columns.tolist() 
new_cols = [x for x in cols if x != cols[-2]] + [cols[-2]]
df = df[new_cols]
df.fillna(method="ffill", inplace=True)
df.fillna(method="bfill", inplace=True)

In [ ]:
random_state = 100
x_data = df.loc[:, df.columns != "index_value"]
y_data = df.loc[:, "index_value"]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, shuffle=True, random_state=random_state)

In [ ]:
# x_train.shape, x_train.size
# clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
#                    hidden_layer_sizes=(6, 6), random_state=1, verbose=True)

In [ ]:
# for chunk in pd.read_csv(<filepath>, chunksize=<your_chunksize_here>)
#     do_processing()
#     train_algorithm()

In [ ]:
# def iter_minibatches(chunksize):
#     # Provide chunks one by one
#     chunkstartmarker = 0
#     while chunkstartmarker < numtrainingpoints:
#         chunkrows = range(chunkstartmarker,chunkstartmarker+chunksize)
#         X_chunk, y_chunk = getrows(chunkrows)
#         yield X_chunk, y_chunk
#         chunkstartmarker += chunksize
        


# for j in range(0,100):
#     for i in range(0, x_train.size):
#        input_inst = x_train[[i]]
#        target_inst= y_train[[i]]

#        clf=clf.partial_fit(input_inst,target_inst)
    


# # 3. Monitor progress
# print("Score on training set: %0.8f" % clf.score(x_train, y_train))
# #Testing the Neural Net
# y_pred = clf.predict(x_test)
# print(y_pred)

# # 4. Compute score on testing set
# print(clf.score(x_test, y_test))

In [ ]:
from sklearn import preprocessing

x_train_norm = preprocessing.scale(x_train)
print(x_train_norm)

In [ ]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                   hidden_layer_sizes=(6, 6), random_state=1)

# Partial fit only available with stochastic
# clf = MLPClassifier(solver='stochastic', alpha=1e-5,
#                    hidden_layer_sizes=(5, 2), random_state=1)

In [ ]:
x_train_norm[:500], y_train[:500]

In [ ]:
clf.fit(x_train_norm[:6000], y_train[:6000])

In [ ]:
x_test_norm = preprocessing.scale(x_test)
y_pred = clf.predict(x_test[:6000])
# y_test_norm = preprocessing.scale(y_test)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import precision_score
precision_score(y_test[:6000], y_pred, average="weighted")

In [ ]:
clf.score(x_test_norm[:6000], y_test[:6000])

In [ ]:
y_pred = clf.predict(x_train_norm[:6000])


from sklearn.metrics import precision_score

In [ ]:
# print(mean_squared_error(y_train[:6000], y_pred))
print(precision_score(y_train[:6000], y_pred, average="weighted"))

In [2]:
url = 'postgresql://{user}:{passwd}@{host}:{port}/{db}'.format(
         user="cse6242", passwd="cse6242", host="localhost", port=5432, db="cse6242")

engine = create_engine(url, pool_size=50)

engine.connect()
connection = engine.connect() 
query = "SELECT county_id, home_type_id, year_month, index_value from county_timeseries"

df = pd.read_sql(query, con=connection)

df.rename(columns = {'year_month':'year'}, inplace = True)
df[['year','month']] = df['year'].str.split('-',expand=True)

cols = df.columns.tolist() 
new_cols = [x for x in cols if x != cols[-2]] + [cols[-2]]
df = df[new_cols]
df.fillna(method="ffill", inplace=True)
df.fillna(method="bfill", inplace=True)
random_state = 100
x_data = df.loc[:, df.columns != "index_value"]
y_data = df.loc[:, "index_value"]

In [3]:
# df, x_vals, y_vals

random_state = 100

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.25, shuffle=True, random_state=random_state)

In [4]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((1745721, 4), (581907, 4), (1745721,), (581907,))

In [5]:
lin_regr = LinearRegression()

lin_regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
y_pred_train = lin_regr.predict(x_train)
print(sqrt(mean_squared_error(y_train, y_pred_train)))

153670.65202356884

In [7]:
y_pred_test = lin_regr.predict(x_test)
print(sqrt(mean_squared_error(y_test, y_pred_test)))

157700.6380330208

In [8]:
y_hats_df = pd.DataFrame(data = y_pred_train, columns = ['y_pred'], index = x_train.index.copy())
df_out_lin_regr_train = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(df_out_lin_regr_train)

         county_id  home_type_id  year month  index_value         y_pred
0              273             7  2011    07      96000.0            NaN
1              273             7  2011    08      95300.0  256501.385385
2              273             7  2011    09      95200.0  256778.585998
3              273             7  2011    10      95400.0  257055.786611
4              273             7  2011    11      95900.0  257332.987224
...            ...           ...   ...   ...          ...            ...
2327623        273             7  2011    02     101200.0            NaN
2327624        273             7  2011    03     100800.0            NaN
2327625        273             7  2011    04     100000.0  255392.582932
2327626        273             7  2011    05      98800.0  255669.783546
2327627        273             7  2011    06      97400.0  255946.984159

[2327628 rows x 6 columns]

In [9]:
y_hats_df = pd.DataFrame(data = y_pred_test, columns = ['y_pred'], index = x_test.index.copy())
df_out_lin_regr_test = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(df_out_lin_regr_test)

         county_id  home_type_id  year month  index_value         y_pred
0              273             7  2011    07      96000.0  256224.184772
1              273             7  2011    08      95300.0            NaN
2              273             7  2011    09      95200.0            NaN
3              273             7  2011    10      95400.0            NaN
4              273             7  2011    11      95900.0            NaN
...            ...           ...   ...   ...          ...            ...
2327623        273             7  2011    02     101200.0  254838.181706
2327624        273             7  2011    03     100800.0  255115.382319
2327625        273             7  2011    04     100000.0            NaN
2327626        273             7  2011    05      98800.0            NaN
2327627        273             7  2011    06      97400.0            NaN

[2327628 rows x 6 columns]

In [10]:
final_df_out = df_out_lin_regr_train['y_pred'].combine_first(df_out_lin_regr_test['y_pred'])

y_hats_df = pd.DataFrame(data = final_df_out, columns = ['y_pred'], index = df.index.copy())
final_df_out = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(final_df_out)

         county_id  home_type_id  year month  index_value         y_pred
0              273             7  2011    07      96000.0  256224.184772
1              273             7  2011    08      95300.0  256501.385385
2              273             7  2011    09      95200.0  256778.585998
3              273             7  2011    10      95400.0  257055.786611
4              273             7  2011    11      95900.0  257332.987224
...            ...           ...   ...   ...          ...            ...
2327623        273             7  2011    02     101200.0  254838.181706
2327624        273             7  2011    03     100800.0  255115.382319
2327625        273             7  2011    04     100000.0  255392.582932
2327626        273             7  2011    05      98800.0  255669.783546
2327627        273             7  2011    06      97400.0  255946.984159

[2327628 rows x 6 columns]

In [ ]:
final_res = pd.DataFrame(data={"county_id": [], "home_type_id": [], "year_month": [], "index_value": [], "year": [], "month": []})

In [ ]:
final_res

In [ ]:
county_ids = df["county_id"].unique()
home_type_ids = df["home_type_id"].unique()
month_ids = df["month"].unique()
future_years = [x for x in range(2019, 2025)]

index = pd.MultiIndex.from_product([county_ids, home_type_ids, month_ids, future_years], names = ["county_ids", "home_type_ids", "month_ids", "future_years"])
# Dataframe to predict results
prediction_df = pd.DataFrame(index = index).reset_index()

In [ ]:
prediction_df["index_values"] = np.nan

In [ ]:
prediction_df

In [11]:
import psycopg2
import sys, os
from math import sqrt
import numpy as np
import pandas as pd
import pandas.io.sql as psql
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor



url = 'postgresql://{user}:{passwd}@{host}:{port}/{db}'.format(
         user="cse6242", passwd="cse6242", host="localhost", port=5432, db="cse6242")

engine = create_engine(url, pool_size=50)

engine.connect()
connection = engine.connect() 
query = "SELECT county_id, home_type_id, year_month, index_value from county_timeseries"

df = pd.read_sql(query, con=connection)

df.rename(columns = {'year_month':'year'}, inplace = True)
df[['year','month']] = df['year'].str.split('-',expand=True)

cols = df.columns.tolist() 
new_cols = [x for x in cols if x != cols[-2]] + [cols[-2]]
df = df[new_cols]
df.fillna(method="ffill", inplace=True)
df.fillna(method="bfill", inplace=True)
random_state = 100
x_data = df.loc[:, df.columns != "index_value"]
y_data = df.loc[:, "index_value"]


random_state = 100
x_data = df.loc[:, df.columns != "index_value"]
y_data = df.loc[:, "index_value"]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, shuffle=True, random_state=random_state)


# print(x_train)
# print(y_train)

In [14]:
regr = RandomForestRegressor(max_depth=None, random_state=0,
                             n_estimators=100)

regr.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [15]:
y_pred = regr.predict(x_train)

In [16]:
rmse_random_forest_train = sqrt(mean_squared_error(y_train, y_pred))

In [17]:
print(rmse_random_forest_train)  # 154732.57953090698

2498.8060009076316

In [18]:
y_hats_df = pd.DataFrame(data = y_pred, columns = ['y_pred'], index = x_train.index.copy())
df_out_random_forest_train = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(df_out_random_forest_train)

         county_id  home_type_id  year month  index_value   y_pred
0              273             7  2011    07      96000.0      NaN
1              273             7  2011    08      95300.0  95485.0
2              273             7  2011    09      95200.0  95378.0
3              273             7  2011    10      95400.0  95575.0
4              273             7  2011    11      95900.0  95907.0
...            ...           ...   ...   ...          ...      ...
2327623        273             7  2011    02     101200.0      NaN
2327624        273             7  2011    03     100800.0      NaN
2327625        273             7  2011    04     100000.0      NaN
2327626        273             7  2011    05      98800.0      NaN
2327627        273             7  2011    06      97400.0  96716.0

[2327628 rows x 6 columns]

In [19]:
# regr_test = RandomForestRegressor(max_depth=None, random_state=0,
#                              n_estimators=100)


# regr.fit(x_test, y_test)

In [20]:
y_pred = regr.predict(x_test)

In [21]:
rmse_random_forest_test = sqrt(mean_squared_error(y_test, y_pred))

In [22]:
print(rmse_random_forest_test)  # 153347.29729014944

7304.665032087787

In [23]:
y_hats_df = pd.DataFrame(data = y_pred, columns = ['y_pred'], index = x_test.index.copy())
df_out_random_forest_test = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(df_out_random_forest_test)

         county_id  home_type_id  year month  index_value   y_pred
0              273             7  2011    07      96000.0  96737.0
1              273             7  2011    08      95300.0      NaN
2              273             7  2011    09      95200.0      NaN
3              273             7  2011    10      95400.0      NaN
4              273             7  2011    11      95900.0      NaN
...            ...           ...   ...   ...          ...      ...
2327623        273             7  2011    02     101200.0  97988.0
2327624        273             7  2011    03     100800.0  97697.0
2327625        273             7  2011    04     100000.0  97254.0
2327626        273             7  2011    05      98800.0  96818.0
2327627        273             7  2011    06      97400.0      NaN

[2327628 rows x 6 columns]

In [24]:
# df_out_random_forest_train.merge(df_out_random_forest_test, how="inner", left_on=["y_pred"], right_on=["y_pred"])

In [25]:
final_df_out = df_out_random_forest_train['y_pred'].combine_first(df_out_random_forest_test['y_pred'])

display(final_df_out)

0          96737.0
1          95485.0
2          95378.0
3          95575.0
4          95907.0
            ...
2327623    97988.0
2327624    97697.0
2327625    97254.0
2327626    96818.0
2327627    96716.0
Name: y_pred, Length: 2327628, dtype: float64

In [26]:
y_hats_df = pd.DataFrame(data = final_df_out, columns = ['y_pred'], index = df.index.copy())
display(y_hats_df)
final_df_out = pd.merge(df, y_hats_df, how = 'left', left_index = True, right_index = True)

display(final_df_out)

          y_pred
0        96737.0
1        95485.0
2        95378.0
3        95575.0
4        95907.0
...          ...
2327623  97988.0
2327624  97697.0
2327625  97254.0
2327626  96818.0
2327627  96716.0

[2327628 rows x 1 columns]

         county_id  home_type_id  year month  index_value   y_pred
0              273             7  2011    07      96000.0  96737.0
1              273             7  2011    08      95300.0  95485.0
2              273             7  2011    09      95200.0  95378.0
3              273             7  2011    10      95400.0  95575.0
4              273             7  2011    11      95900.0  95907.0
...            ...           ...   ...   ...          ...      ...
2327623        273             7  2011    02     101200.0  97988.0
2327624        273             7  2011    03     100800.0  97697.0
2327625        273             7  2011    04     100000.0  97254.0
2327626        273             7  2011    05      98800.0  96818.0
2327627        273             7  2011    06      97400.0  96716.0

[2327628 rows x 6 columns]